/* --------- Global style */

body {
    font-family: "Poiret One", sans-serif;
    text-align: center;
    font-size: 20px;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 75px;
    font-family: "MS Madi", sans-serif;
    margin: 20px 0;
}

/* --------- Who is the player section */
#intro-section {
    background-color: #ececec;
    width: 90%;
    height: 150px;
    max-width: 950px;
    margin: auto;
    padding: 1%;
}

/* --------- name submit box */
#name-box {
    height: 25px;
    width: 100px;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
}

/* --------- Explanation Area layout */
.explanation-area {
    width: 90%;
    height: auto;
    max-width: 950px;
    margin: 0 auto;
    padding: 1%;
}

li {
    text-align: left;
}

/* --------- Scores Area layout */
.score-area {
    background-color: #023020;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 90%;
    height: 210px;
    max-width: 950px;
    margin: auto;
    padding: 1%;
}

#score-overview{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3fr;
}

.scores {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores > span {
    padding-top: 10%;
}

#winner {
    font-size: 120%;
}

/* --------- Controls Area */
.controls-area {
    width: 90%;
    height: auto;
    max-width: 950px;
    margin: 30px auto;
    padding: 1%;
    display: grid;
    grid-auto-flow: column;

    justify-content: center;
}

/* --------- Buttons */

.btn--small {
    width: 100px;
    height: 30px;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    background-color: #023020;
    color: #FFFFFF;
}

.btn {
    width: 100px;
    height: 75px;
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #000000;
    background-color: #FFFFFF;
    border: 5px solid;
    margin: 0 30px;
    transition: all 0.5s;

}

.btn:focus {
    outline: none;
}


.btn--green {
    border-color: #023020;
    color: #023020;
}

.btn--green:hover {
    background-color: #023020;
    color: #FFFFFF;
}

.btn--black {
    border-color: #000000;
    color: #000000;
}

.btn--black:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.btn--grey {
    border-color: #696868;
}

.btn--grey:hover {
    background-color: #696868;
    color: #FFFFFF;
}

/* --------- media queries */
/* for screen size from 400px wide and down  */
@media screen and (max-width: 400px) {
    .scores {
        font-size: 100%;
    }

.btn {
    width: 75px;
    height: 50px;
    font-size: 15px;
    margin: 10px 10px;
}

/* .controls-area {
    display: grid;
    grid-auto-flow: row;
} */

}