/* --------- Global style */

body {
    font-family: "Poiret One", sans-serif;
    text-align: center;
    font-size: 20px;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 75px;
    font-family: "MS Madi", sans-serif;
    margin: 20px 0;
}

/* --------- Who is the player section */
#intro-section {
    background-color: #696868;
    width: 85%;
    height: 150px;
    max-width: 830px;
    margin: 30px auto;
    padding: 1%;
}

#intro-section h2 {
    color: #FFFFFF;
}

/* --------- name submit box */
#name-box {
    height: 30px;
    width: 100px;
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.4px;
}

/* --------- Explanation Area layout */
.explanation-area {
    width: 85%;
    height: 300px;
    max-width: 830px;
    margin: 30px auto;
    padding: 1%;
}

#explanation-text p {
    line-height: 1.5;
}


/* --------- Scores Area layout */
.score-area {
    background-color: #023020;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 85%;
    height: 210px;
    max-width: 830px;
    margin: 30px auto;
    padding: 1%;
}

#score-overview{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3fr;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores > span {
    padding-top: 10%;
}


/* --------- Controls Area */
.controls-area {
    width: 85%;
    height: 65vh;
    max-height: 100px;
    max-width: 830px;
    margin: 30px auto;
    padding: 1%;
}

/* --------- Buttons */

.btn--small {
    width: 100px;
    height: 40px;
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.4px;
    background-color: #023020;
    color: #FFFFFF;
}

.btn {
    width: 220px;
    height: 60px;
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #000000;
}

.btn:focus {
    outline: none;
}

.btn--big {
    background-color: #FFFFFF;
    border: 5px solid;
    width: 100px;
    height: 75px;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--green {
    border-color: #023020;
    color: #023020;
}

.btn--green:hover {
    background-color: #023020;
    color: #FFFFFF;
}

.btn--black {
    border-color: #000000;
    color: #000000;
}

.btn--black:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.btn--grey {
    border-color: #696868;
}

.btn--grey:hover {
    background-color: #696868;
    color: #FFFFFF;
}